<div class="container">
    <div class="row row-cols-1 row-cols-md-4">
        <div class="col">
            <div class="card bg-transparent text-dark">
                <div class="card-body">
                    <a [routerLink]="['/juegos/ahorcado']" class="btn btn-dark">Ahorcado</a>
                </div>
                <img src="./../../../assets/juegos/ahorcado.png" class="card-img-top rounded-circle">
            </div>
        </div>
        <div class="col">
            <div class="card bg-transparent text-dark">
                <div class="card-body ">
                    <a [routerLink]="['/juegos/preguntados']" class="btn btn-dark">Preguntados</a>
                </div>
                <img src="./../../../assets/juegos/preguntados.jpg" class="card-img-top rounded-circle ">
            </div>
        </div>
        <div class="col">
            <div class="card bg-transparent text-dark">
                <div class="card-body">
                    <a [routerLink]="['/juegos/mayormenor']" class="btn btn-dark">Mayor o menor</a>
                </div>
                <img src="./../../../assets/juegos/mayor-menor.jpg" class="card-img-top rounded-circle"> 
            </div>
        </div>
        <div class="col ">
            <div class="card bg-transparent text-dark">
                <div class="card-body ">
                    <a [routerLink]="['/juegos/simon']" class="btn btn-dark">Simon dice</a>
                </div>
                <img src="./../../../assets/juegos/simon-dice.jpg" class="card-img-top rounded-circle">
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>